@import "./theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
}

input, button {
  font-family: inherit;
}

button {
  cursor: pointer;
  transition: var(--transition);
}

a {
  text-decoration: none;
  color: inherit;
}
